.cursor-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.remote-cursor {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 80ms linear;
  will-change: transform;
}

.cursor-label {
  display: inline-block;
  margin-left: 16px;
  margin-top: 4px;
  padding: 1px 5px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1.4;
}
